.header {
  display: flex;
  align-items: center;
  background: beige;
  justify-content: space-between;
  padding: 0 20px;
}
.content {
  text-align: 'center';
  min-height: 120;
  line-height: '120px';
  color: '#fff';
}
.main {
  margin: 2%;
}
.search {
  margin-right: 10px;
}
.new {
  margin-left: 20px;
  margin-right: 50px;
}
.datatask {
  width: 100%;
}
.tasklist {
  text-align: left;
  margin: 10px;
  font-weight: bold;
  font-size: 20px;
}
