.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: white;
}
.search {
  margin-right: 10px;
  width: 400px;
}
.new {
  margin-left: 20px;
}
