.logo {
  width: 200px;
  height: 60px;

  background: url('../assets/logo.png') no-repeat center / 160px auto;
}

.user-logout {
  color: aliceblue;
  display: inline-block;
  cursor: pointer;
}
.title {
  display: flex;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
}
.sider {
  height: 100vh;
}
.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  background: white;
  padding: 16px; /* 根据需要设置顶部和底部的内边距 */
  justify-content: space-between; /* 左右对齐 */
}
