$bold-font-weight: bold;
.logo {
  width: 200px;
  height: 60px;

  background: url('../assets/logo.png') no-repeat center / 160px auto;
}

.user-logout {
  color: aliceblue;
  display: inline-block;
  cursor: pointer;
}
.title {
  display: flex;
  font-weight: $bold-font-weight;
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  padding-left: 12px;
}
.sider {
  height: 100vh;
  text-align: left;
}
.userInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
  background: white;
  padding: 16px; /* 根据需要设置顶部和底部的内边距 */
  justify-content: space-between; /* 左右对齐 */
}
.outlogin {
  cursor: pointer;
}
.menu {
  height: 100%;
  border-right: 1;
}
.ant-menu-title-content {
  padding-left: 14px;
}
